*.pyc

# BED files
bedshifted*
*.bed
!tests/test.bed
!tests/test2.bed
!tests/small_test.bed
!tests/small_test2.bed
!tests/from_file.bed
!tests/header_test.bed
examples/sh_output*
examples/py_output*

# Python build
site/
build/
bedshift.egg-info/
dist/

# MacOS
.DS_Store
