gensim
logmuse
matplotlib
numba
numpy >= 1.23.0 
paramiko >= 3.0.0
pyBigWig
pyyaml
scanpy
seaborn
tqdm
umap-learn
ubiquerg
yacman
pydantic
huggingface_hub
intervaltree
qdrant_client
hnswlib
tensorflow
torch
sentence-transformers
# gtokenizers
# /Users/nathanleroy/projects.nosync/gtokenizers/bindings/python/target/wheels/gtokenizers-0.1.0-cp311-cp311-macosx_11_0_arm64.whl