genimtools
fastembed
gensim
genomicranges >= 0.3.6
gtokenizers
huggingface_hub
intervaltree
logmuse
matplotlib
numpy >= 1.24.0
paramiko >= 3.0.0
peppy>=0.40.0a4
pyBigWig
pydantic
pyyaml
qdrant_client
requests>=2.31.0
scanpy
seaborn
torch
torchsummary
tqdm
umap-learn
ubiquerg
yacman
pyarrow