anndata > 0.9.0
fastembed >= 0.2.5
gensim >= 4.3.3
huggingface_hub >= 0.25.1
qdrant_client >= 1.16.1
# hnswlib >= 0.8.0 # Not supported after Python 3.11 - needs to be installed manually if required
paramiko >= 3.0.0
pyBigWig >= 0.3.23
scanpy >= 1.10.3
torch >= 2.3.0
langchain-huggingface==0.0.2
hmmlearn >=0.3.2
scipy >= 1.13.1
transformers >= 4.52.4