anndata > 0.9.0
fastembed >= 0.2.5
gensim >= 4.3.3
huggingface_hub >= 0.25.1
qdrant_client >= 1.11.2
hnswlib >= 0.8.0
paramiko >= 3.0.0
pyBigWig >= 0.3.23
scanpy >= 1.10.3
torch >= 2.4.1
lightning >=  2.4.0
langchain-huggingface==0.0.2
scipy <= 1.12.0