logmuse >=0.2.8
ubiquerg >= 0.6.3
peppy >= 0.40.7
requests >= 2.31.0
botocore >= 1.34.54
boto3 >=  1.34.54
genomicranges >= 0.4.1

gtars >= 0.2.5
pybiocfilecache == 0.6.1
zarr >= 2.17.2, < 3.0.0
pyyaml >= 6.0.1 # for s3fs because of the errors
s3fs >= 2024.3.1
pyarrow >= 17.0.0
iranges >= 0.2.11
numpy >= 1.24.0
rich >= 13.9.4
safetensors
