gensim >= 4.3.3
huggingface_hub >= 0.25.1
# hnswlib >= 0.8.0 # Not supported after Python 3.11 - needs to be installed manually if required
pyBigWig >= 0.3.23
torch >= 2.3.0
hmmlearn >=0.3.2
scipy >= 1.13.1
transformers >= 4.52.4